@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --main: #534C5D;
  --dark: #2E2930;
  --light-warm: #BFB0BF;
  --light-cool: #969BA8;
  --accent: #D79078;
}

/* TODO: Consider Dark/Light color scheme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --main: #534C5D;
    --dark: #2E2930;
    --light-warm: #BFB0BF;
    --light-cool: #969BA8;
    --accent: #D79078;  }
} */

body {
  background: var(--main);
  color: var(--foreground);
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}